.droparea {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    margin: 8px;
    color: #646C7F;
    text-rendering: optimizeLegibility;
    display: block;
    padding: 54px 54px;
    min-height: 150px;
  }; 
  .dscpe-btn-primary
  {
    color: #fff;
    border-color: #368ec4;
    background-color: #42a2da;
  }
  .dscpe-btn-default
  {
      color: #3d3d3d;
      background-color: #f1f1f1;
      border-color: #b4b6ba;
  }
  .dscpe-btn
  {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    padding: 9px 14px 8px 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 72px;
    line-height: 1.42857;
    overflow: hidden;
    text-overflow: ellipsis;
  }