.droparea {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    margin: 8px;
    color: #646C7F;
    text-rendering: optimizeLegibility;
    display: block;
    padding: 54px 54px;
    min-height: 150px;
  };
  /* overrides to Vuetify styles */
  #cancel-v-btn 
  {
    color: #3d3d3d !important;
    border: 1px solid #b4b6ba !important;
    background-color: #f1f1f1 !important;
  }
  #submitButton 
  {
    color: #fff !important;
    border: 1px solid #368ec4 !important;
    background-color: #42a2da !important;
  }
  #submitButton.theme--light.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn-outlined)
  {
    color: white !important;
    background-color: #afd1e9 !important;
    border: 1px solid #aac9e0 !important;
  }